/* Import các tệp CSS cụ thể cho các trang hoặc component */
@import './Home.css';
@import './Booking.css';
@import './Contact.css';
@import './Login.css';
@import './Register.css';
@import './RoomDetail.css';
@import './RoomList.css';
@import './About.css';
@import './News.css';

/* Các style chung cho toàn bộ ứng dụng */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
}
